#events-hero{
  background: url('../images/heros/events.jpg') no-repeat center center;
  background-size: cover;
  .dark-overlap{
    padding-top: 25vh;
  }
}
.events-list{
  padding:100px 0;
  .single-event{

      .image-container{
        flex:1;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .content-container{

        flex: 3;
        padding: 25px;
        background: $lightgrey;
        h2{
          font-size: 1.7em;
        }
        .metabox{
          i{
            height: 25px;
            width: 25px;
            text-align: center;
            font-size: 0.8em;
            padding-top: 6px;
            background: $brand;
            color: #fff;
            border-radius: 50%;
          }
        }
        p{
          color: $medgrey;
          line-height: 2em;
        }
      }
  }
}
.single-event-article{
  padding: 50px 0;
  .single-event-article-sidebar{
    background: $lightgrey;
    padding: 25px;
    border-radius: 4px;
    margin-bottom: 40px;
    h2{
      font-size: 1.2em;
      margin-bottom: 25px;
    }
    &#latest-events{
      ul{
        padding-inline-start:0;
        list-style: none;
        margin-bottom: 0;
        li{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            color:$medgrey;
            transition: all ease 0.3s;
            &:hover{
              color:$brand;
              padding-left: 15px;
              transition: all ease 0.3s;
            }
          }
        }
      }
    }
    &#keep-in-touch{

      ul{
        list-style-type: none;
        padding-inline-start:0px;
        margin-bottom: 0;
        li{
          display: block;
          margin-bottom: 20px;
          padding: 10px;
          border-radius: 4px;
          transition: all ease 0.3s;
          a{
            color: #fff;
            display: flex;
            flex-basis: 0;
            align-items: center;
            i{
              flex:1;
            }
            span{
              flex:6;
              text-align: center;
            }
          }
          &.youtube-li {
              background-color: #FF0000;
              &:hover {
                  transition: all ease 0.3s;
                  background-color: #d40f0f;
              }
          }
          &.facebook-li{
            background-color: #4267B2;
            &:hover{
              transition: all ease 0.3s;
              background-color: #375187;
            }
          }
          &.whatsapp-li{
            background-color: #25D366;
            &:hover{
              transition: all ease 0.3s;
              background-color: #28c362;
            }
          }
          &.email-li{
            background-color: $black;
            &:hover{
              transition: all ease 0.3s;
              background-color: #444;
            }
          }
        }
      }
    }
  }
  .metabox{
    i{
      height: 25px;
      width: 25px;
      text-align: center;
      font-size: 0.8em;
      padding-top: 6px;
      background: $brand;
      color: #fff;
      border-radius: 50%;
    }
  }
  p.description{
    font-size: 1.1em;
    color:$medgrey;
  }
  .event-content{
    h2{
      color:$brand;
      margin-bottom: 15px;
    }
    img{
      width: 100%;
      height: auto;
    }
    p{
      color: $medgrey;
      line-height: 2em;
    }
    .whatsapp-cta-product{
      background: $lightgrey;
      border-radius: 4px;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      p{
        font-size: 1.5em;
        margin-bottom: 0;
        font-weight: bold;
      }
      a{
        background-color: #25D366;
        padding: 10px 25px;
        border-radius: 50px;
        color: #fff;
        margin-bottom: 0;
        transition: all ease 0.3s;
        &:hover{
          background-color: #21a150;
          transition: all ease 0.3s;
        }
      }

    }
    #other-colors-products{
      background: url('../images/wood-colors-image.jpg') no-repeat center center;
      background-size: cover;
      height: auto;
      align-items: center;
      justify-content: center;
      p{
        color:#fff;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        padding: 15px;
        border-radius: 4px;
      }
    }
    .share-product-info{
      margin-bottom: 25px;
      p{
        margin-bottom: 5px;
      }
      #facebook{
        background-color: #4267B2;
        border-radius: 4px;
        padding: 5px 15px;
        color: #fff;
        font-size: .9em;
        margin-right: 15px;
      }

      #whatsapp{
        background-color: #25D366;
        border-radius: 4px;
        padding: 5px 15px;
        color: #fff;
        font-size: .9em;
        margin-right: 15px;
      }
      #pinterest{
        background-color: #E60023;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        padding: 5px 15px;
        color: #fff !important;
        font-size: .9em;
        margin-right: 15px;
        .fa-pinterest{
            color: white;
        }
    }
    }
  }
}
@media screen and (max-width: 768px) {
  .events-list{
    padding:50px 0;
    .single-event{
        flex-direction: column;
        .content-container{
          padding: 15px;
          h2{font-size: 1.3em;}
        }
    }
  }
  .event-content{
    .whatsapp-cta-product{
      flex-direction: column;
      text-align: center;
      p{
        margin-bottom: 25px;
      }
    }
    #other-colors-products{
      p{
        font-size: 0.9em;
      }
    }
  }

}
