h2{color: #0D8287;}
hr{width: 100%;}
.row{
  @media(max-width: 576px){
    padding: 0px 10px;
  }
}
.expert-sidebar{
  position: relative;
  .products-sidebar{
    width: 100%;
     position: sticky;
     z-index: 1;
     top: 7%;
     margin-left: -60px;
     overflow-x: hidden;
     @media(max-width: 992px){
       width: 100%;
       margin-left: 0px;
     }
     @media(max-width: 1200px){
       margin-left: 0px;
       width: 100%;
     }

  }
}
.accordion{
  p{
    line-height: 3;
    font-size: 15px;
  }
  .card-body{
    padding: 0 1.25rem;
  }
  .btn-link{
    text-decoration: none;
    color: #0D8287;
    display: block;
    width: 100%;
    text-align: left;
  }
  button:hover{
    text-decoration: none;
    color: black
  }
}
