#homepage-hero-section{
  #slide-one{background: url('../images/heros/kitchen-hero.jpg') no-repeat center center;background-size:cover;}
  #slide-two{background: url('../images/heros/tiles-hero.jpg') no-repeat center center;background-size:cover;}
  #slide-three{background: url('../images/heros/stairs-hero.jpg') no-repeat center center;background-size:cover;}
  #slide-four{background: url('../images/heros/outdoor-hero.jpg') no-repeat center center;background-size:cover;}
  .dark-overlap{
    padding:15vh 5%;
  }
}
#homepage-categories {
  position: relative;
    #homepage-categories-artistic-touch{
        position: absolute;
        transform: rotate(270deg);
        opacity: 0.2;
        bottom: 0;
        right: 0;
        height: 200px;
        width: auto;
    }
    padding: 100px 0;
    .category-card {
        background: $lightgrey;
        img {
            width: 100%;
            height: 250px;
        }
        h3 {
            font-size: 1.5em;
        }
        p {
            color: $medgrey;
            line-height: 2em;
        }
        a {
            color: $brand;
            font-weight: bold;
        }
    }
}
#homepage-cta {
    background: url("../images/heros/why-us.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    overflow-y: scroll;
    .dark-overlap {
        padding: 30px 0;
        background: rgba(0,0,0,0.5);
        width: 100%;
        text-align: center;
        h2 {
            color: #fff;
            font-size: 5em;
            margin-bottom: 55px;
        }
        p {
            color: #fff;
            font-size: 1.5em;
        }
    }
    &.homepage-video-cta{
      height: 400px;
      background: url('../images/heros/video-background.png') no-repeat center center;
      background-size: cover;
      .dark-overlap{
        padding-top: 160px;
      }
    }
    .why-us-card{
      background-color: rgba(0,0,0,0.3);
      padding: 10px;
      border-radius: 4px;
      max-height: 150px;
      margin-bottom: 100px;
      transition: all ease 0.3s;
      .why-us-icon-container{
        margin: -45px auto 15px auto;
        display: block;
        background: $brand;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        font-size: 2em;
        color: #fff;
        text-align: center;
        padding-top: 15px;
        transition: all ease 0.3s;
      }
      .why-us-card-title{
        color: #fff;
        font-size: 1.3em;
        text-align: center;
      }
      .why-us-card-short-description{
        max-height: 50px;
        margin-top: 15px;
        font-size: 0.8em;
        text-align: left;
      }
      .why-us-card-description{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        font-size: 0.8em !important;
        text-align: left;
        border-radius: 4px;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        color: $black !important;
        height: 180px;
        overflow-y: scroll;
        transition: all ease 0.3s;
      }
      &:hover{
        .why-us-icon-container{
          opacity: 0;
          transition: all ease 0.3s;
        }
        .why-us-card-description{
          opacity: 1;
          transition: all ease 0.3s;
        }
      }
    }
}
#homepage-promotions {
    padding: 100px 0;
    position: relative;
    #homepage-promotions-artistic-touch{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.2;
      height: 200px;
      width: auto;
      transform: rotate(90deg);
    }
    ul {
        list-style: none;
        img {
            width: 100%;
            height: 250px;
        }
    }

    .owl-nav {
        position: relative;
        margin-top: -15%;
        display: flex;

        button {
            width: 40px;
            height: 40px;
            background: $brand;
            border-radius: 50%;
            color: #fff;
            font-size: 1.3em;

            &.owl-prev {
                position: absolute;
                left: -100px;
            }

            &.owl-next {
                position: absolute;
                right: -100px;
            }
        }
    }
}
#our-products {
    padding: 100px 0;
    p.header-sub-title {
        color: $medgrey;
        text-align: center;
    }

    #filters {
        display: flex;
        flex-basis: 0;
        justify-content: space-between;
        width: 45%;
        margin: 40px auto;

        button {
            color: $medgrey;
            border: none;
            background: none;
            padding: 8px 30px;
            border-radius: 4px;
            transition: all ease 0.3s;

            &:hover {
                cursor: pointer;
                color: $brand;
                transition: all ease 0.3s;
            }

            &.is-checked {
                border: none;
                outline: none;
                background: $brand;
                color: #fff;
            }
        }
    }

    .products-isotope {
        width: 100%;
        .single-product {
            border: 5px solid #FFF;
        }
        .grid-item,
        .grid-sizer {
            width: 25%;
        }
        .grid-item {
            float: left;
            padding: 0;
            border: 10px solid red;
            height: 0;
            /* padding-bottom is calculated and rendered in to HTML OR inserted on css class*/
        }

        .single-product img {
            max-height: 100% !important;
            max-width: 100% !important;
        }
    }
}
#homepage-aboutus-section{
  position: relative;
  #homepage-about-artistic-touch{
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    height: 500px;
    opacity: 0.2;
  }
}
@media screen and (max-width: 768px) {
  #homepage-categories {
      padding: 50px 0;
      #homepage-categories-artistic-touch{height: 100px;}
  }
  #homepage-promotions {
      padding: 50px 0;
      #homepage-promotions-artistic-touch{height: 100px;}
      ul {padding-inline-start:10px;}
      .owl-dots{margin-top:50px;}
      .owl-nav {display: none;}
  }
  #our-products {
      padding: 50px 0;
      #filters {
          background: $lightgrey;
          padding: 10px;
          border-radius: 4px;
          width: 100%;
          margin: 20px auto;
          button {
              padding: 2px 5px;
          }
      }

      .products-isotope {
          width: 100%;
          .grid-item,
          .grid-sizer {
              width: 100%;
              img {
                  display: block;
                  width: 100%;
              }
          }

      }
  }
  #homepage-aboutus-section{
    #homepage-about-artistic-touch{
      display: none;
    }
  }

}
