//Mansy Code Starts Here
.homepage-hero-section{
  .homepage-herosection-bg-image{height: 100vh;}
  .logo-img{
    width: 50% !important;
    margin-top: 5%;
  }
  .p-category{
    color: $brand;
    margin-bottom: 0;
  }
  h2,p,a,.logo-img{
    margin-left: 6%;
  }
  h2{
    font-weight: 600;
    font-size: 3.6em;
  }
  .description{
    line-height: 2em;
    font-size: 1.1em;
    color: $medgrey;
  }
  .end-img{
    position: absolute;
    bottom:0;
    left: 0;
    opacity: 0.2;
    width: 300px !important;
    z-index: -1;
  }
  @media(max-width: 768px){
    .content-section{
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      padding: 10px 25px;
      .logo-img{
          z-index: 2;
          width: 60% !important;
          display: block;
      }
      h2{
        font-size: 2.5em;
      }
      p,h2,a,.logo-img{
        color:white;
        margin-left: 0;
      }
      .description{
          line-height: 1.5;
      }
      a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
      }
      .text-dark{color: #fff !important;}
    }
    .homepage-herosection-bg-image{
      position: relative;
      height: 100vh;
      width: 100%;
    }
  }
  @media(min-width: 769px) and (max-width: 992px){
    .content-section{
      position: absolute;
        background-color: rgba(0,0,0,0.5);
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 10px 25px;
        .logo-img{
            z-index: 2;
            width: 60% !important;
            display: block;
          }
          .text-dark{color: #fff !important;}
          h2{
            font-size: 2.5em;
          }
          p,h2,a,.logo-img{
            color:white;
            margin-left: 0;
          }
          .p-category{
            color: white ;
          }
          .description{
              line-height: 1.5;
          }
          a{
            margin-bottom: 15px;
            text-align: center;
          }
          .homepage-herosection-bg-image{
            position: relative;
            height: 100vh;
            width: 100%;
        }
    }
  }
  #slide-one{background: url('../images/heros/kitchen-hero.jpg') no-repeat center center;background-size:cover;}
  #slide-two{background: url('../images/heros/floors-hero.jpeg') no-repeat center center;background-size:cover;}
  #slide-three{background: url('../images/heros/stairs-hero.jpg') no-repeat center center;background-size:cover;}
  #slide-four{background: url('../images/heros/outdoor-hero.jpg') no-repeat center center;background-size:cover;}
}
//Start Our Achievements

// Start Our Clients
.logo-parade{
  ul{
    flex-flow: wrap;
    justify-content: space-around;
    img{
      display: block;
      max-width: 100%;
      margin-bottom: 45px;
    }
  }
}
//End Our Clients


//Mansy Code Ends Here

//Old Code
#homepage-categories {
  position: relative;
    #homepage-categories-artistic-touch{
        position: absolute;
        transform: rotate(90deg);
        opacity: 0.2;
        top:-16px;
        left: -5px;
        width: 300px !important;
    }
    padding: 100px 0;
    .category-card {
        background: $lightgrey;
        .category-card-bg{
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 250px;
          &#wood-flooring{
            background: url('../images/categories/wood-flooring.jpg');
          }
          &#cabinets{
            background: url('../images/categories/cabinets.jpg');
          }
          &#outdoor{
            background: url('../images/categories/outdoor.jpg');
          }
        }
        h3 {
            font-size: 1.5em;
        }
        p {
            color: $medgrey;
            line-height: 2em;
            margin-bottom: 30px;
        }
        a {
            position: absolute;
            bottom: 10px;
            color: $brand;
            font-weight: bold;
        }
    }
}
#homepage-cta {
    background: url("../images/heros/why-us.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    .dark-overlap {
        padding: 30px 0;
        background: rgba(0,0,0,0.5);
        width: 100%;
        text-align: center;
        h2 {
            color: #fff;
            font-size: 5em;
            margin-bottom: 55px;
        }
        p {
            color: #fff;
            font-size: 1.5em;
        }
    }
    &.homepage-video-cta{
      height: 400px;
      background: url('../images/heros/video-background.png') no-repeat center center;
      background-size: cover;
      padding-top: 160px;
      text-align: center;
    }
    .why-us-icon-container{
      margin: -45px auto 15px auto;
      display: block;
      background: $brand;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      font-size: 2.3em;
      color: #fff;
      text-align: center;
      padding-top: 12px;
      transition: all ease 0.3s;
      i{
        font-style: normal;
      }
    }
    .why-us-card-title{
      color: #fff;
      font-size: 1.3em;
      text-align: center;
    }
    .why-us-cards-toggler{
      .why-us-card{
        margin-bottom: 50px;
        transition: all ease 0.3s;
        &:hover , &.active{
          cursor: pointer;
            .why-us-icon-container{
              background-color: $brandHover;
              transition: all ease 0.3s;
            }
        }
        .why-us-card-title{
          font-size: 0.8em;
        }
      }

    }
    .why-us-card-content{
      background-color: rgba(0,0,0,0.5);
      padding: 10px;
      .why-us-card{
        display: none;
        padding: 10px;
        width: fit-content;
        width: -moz-fit-content;
        border-radius: 4px;
        max-height: 150px;
        margin-bottom: 100px;
        transition: all ease 0.3s;
        &.active{
          display: block;
        }
        .why-us-card-description{
          height: 150px;
          font-size: 1em !important;
          text-align: left;
          padding: 10px;
          border-radius: 4px;
          color: #fff !important;
          transition: all ease 0.3s;
        }
      }
    }
}
#homepage-promotions {
    position: relative;
    #homepage-promotions-artistic-touch{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.2;
      height: 200px;
      width: auto;
      transform: rotate(90deg);
    }
}
#our-products {
    padding: 100px 0;
    p.header-sub-title {
        color: $medgrey;
        text-align: center;
    }

    #filters {
        display: flex;
        flex-basis: 0;
        justify-content: space-between;
        width: 45%;
        margin: 40px auto;

        button {
            color: $medgrey;
            border: none;
            background: none;
            padding: 8px 30px;
            border-radius: 4px;
            transition: all ease 0.3s;

            &:hover {
                cursor: pointer;
                color: $brand;
                transition: all ease 0.3s;
            }

            &.is-checked {
                border: none;
                outline: none;
                background: $brand;
                color: #fff;
            }
        }
    }

    .products-isotope {
        width: 100%;
        .single-product {
            border: 5px solid #FFF;
        }
        .grid-item,
        .grid-sizer {
            width: 25%;
        }
        .grid-item {
            float: left;
            padding: 0;
            border: 10px solid red;
            height: 0;
            /* padding-bottom is calculated and rendered in to HTML OR inserted on css class*/
        }

        .single-product img {
            max-height: 100% !important;
            max-width: 100% !important;
        }
    }
}
#homepage-aboutus-section{
  position: relative;
  #homepage-about-artistic-touch{
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    height: 500px;
    opacity: 0.2;
  }
}
.homepage-videos-grid{
  h2{color: $black;}
  p{color:$medgrey;line-height: 2em;}
  .row{
    margin-bottom: 100px;
  }
  .video-background-homepage{
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    .homepage-play-video{
      position: absolute;
      top: 38%;
      left: 40%;
    }
  }
}
@media screen and (max-width: 768px) {
  #homepage-categories {
      padding: 50px 0;
      #homepage-categories-artistic-touch{display: none;}
  }
  #homepage-promotions {
      padding: 50px 0;
      #homepage-promotions-artistic-touch{height: 100px;}
      ul {padding-inline-start:10px;}
      .owl-dots{margin-top:50px;}
      .owl-nav {display: none;}
  }
  #our-products {
      padding: 50px 0;
      #filters {
          background: $lightgrey;
          padding: 10px;
          border-radius: 4px;
          width: 100%;
          margin: 20px auto;
          button {
              padding: 2px 5px;
          }
      }

      .products-isotope {
          width: 100%;
          .grid-item,
          .grid-sizer {
              width: 100%;
              img {
                  display: block;
                  width: 100%;
              }
          }

      }
  }
  #homepage-aboutus-section{
    #homepage-about-artistic-touch{
      display: none;
    }
  }
  #homepage-cta{
    .why-us-icon-container{
      margin: -45px auto 15px auto;
      display: block;
      background: $brand;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 1.5em;
      color: #fff;
      text-align: center;
      padding-top: 4px;
      transition: all ease 0.3s;
      i{
        font-style: normal;
      }
    }
    .why-us-card-title{
      color: #fff;
      font-size: 1.3em;
      text-align: center;
    }
    .why-us-cards-toggler{
      .why-us-card{
        margin-bottom: 50px;
        transition: all ease 0.3s;
        &:hover , &.active{
          cursor: pointer;
            .why-us-icon-container{
              background-color: $brandHover;
              transition: all ease 0.3s;
            }
        }
        .why-us-card-title{
          display: none;
        }
      }

    }
    .why-us-card-content{
      .why-us-card{
        .why-us-icon-container{
          display: none;
        }
      }
    }
  }
}
