.in-store-payment{
    padding: 24px;
    align-items: center;
    justify-content: center;
    // border: 1px solid #0D8287;
    border-radius: 4px;

    margin-bottom: 32px;
}
img{
    width: 200px;
}
