#products-section {
    height: 30vh;
    background: url("../images/heros/products.jpg") no-repeat center center;
    background-size: cover;
    .dark-overlap {
      display: flex;
      align-items: center;
      height: 30vh;
      justify-content: center;
      h1{
        font-size: 2.5em;
      }
    }
}
#filters-sidepanel-trigger{
  position: fixed;
  left: 0;
  top: 30%;
  background-color: $brand;
  border:0;
  color: #fff;
  padding:10px 20px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  &:focus{
    outline:0;
  }
}
.filters-sidepanel{
    position: fixed;
    left: -25%;
    top: 0;
    width: 24%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
    .filters-sidepanel-header{
      background-color: $lightgrey;
      padding: 25px;
      color: $brand;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4{
        margin-bottom: 0;
      }
      .close-sidepanel{
        background-color: $brand;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        padding-top: 5px;
      }
    }
    .products-sidebar {
      padding: 25px 25px 60px 25px;
      border-radius: 4px;
      .sidebar-title {
          color: $brand;
          font-size: 1.1em;
          margin-bottom: 25px;
      }
      ul.filter-items {
          padding-inline-start: 0;
          list-style-type: none;
          li {
              margin-bottom: 10px;
              & > a {
                  color: $black;
                  &:hover {
                      color: $brand;
                  }
                  &.active{
                    color: $brand;
                    font-weight: bold;
                  }
              }
              .main-category-filter.active{
                color: $brand;
                font-weight: bold;
              }
              ul.filter-sub-items {
                  li {
                      margin-bottom: 0;
                      a {
                          font-size: 0.9em;
                          &.active{
                            color: $brand;
                            font-weight: bold;
                          }
                      }
                  }
              }
          }
      }
  }
}

.product-controls{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    a{
      background-color: $lightgrey;
      padding: 10px;
      border-radius: 4px;
      color: $black;
      transition: all ease 0.3s;
      &:hover{
        background-color: $brand;
        transition: all ease 0.3s;
        color: #fff;
    }
  }
}
.single-photo{
  display: block;
  margin-bottom: 10px;
  height: 300px;
  width: 250px;
  img{
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }
  .single-photo-content{
    background-color: red;
    padding: 10px;
    p{
      color: $black;
      text-align: center;
      font-size: 1.5em;
    }
  }
}
.single-category-item.single-product-item{
  height: 700px;
  .content-container {
    h2 {
      color: $brand;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }
}
.single-product-item {
    background-color: $lightgrey;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    .image-container {
        height: 300px;
        width: 100%;
        background-size: cover;
    }
    .content-container {
        padding: 15px;
        h2 {
            color: $brand;
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }
    p.category-description{
      color: $black;
    }
    a.icon-button{
      border-radius: 0;
    }
    ul{
      list-style: none;
      li{
        font-size: 0.9em;
        color:$medgrey;
        margin-bottom: 10px;
        a{
          color:$brand;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
}
.category-images-list{
  display: none;
  list-style-type: none;
  padding-inline-start:0;
  li{
    display: inline-block;
    margin: 10px;
  }
  &.active{
    display: block;
  }
}
.sub-category-box{
  padding:15px;
  border-radius: 4px;
  background-color: $lightgrey;
  span{
    color:$medgrey;
    font-size: 0.9em;
  }
  h4{
    margin-bottom: 0;
    color: $brand;
  }
}
.products-breadcrumbs{
  background-color: $lightgrey;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  ul{
    padding: 0;
    margin-bottom: 0;
    li{
      display: inline;
      font-size: 0.9em;
    }
  }
}
//Single Product Page
.single-product-images{
    padding: 40px 0;
    h3{
      font-size: 1.3em;
      color: $brand;
    }
  ul{
      display: flex;
      align-items: flex-start;
      list-style-type: none;
      padding-inline-start:0;
    li{
        margin-right: 15px;
        img{
          width: 150px;
          height: 150px;
        }
    }
  }
}
@media(max-width: 768px){
  #products-section {margin-bottom: 50px;}
  .products-sidebar {width: 100%;}
  .category-images-list{
    text-align: center;
    li{
      margin: 3px auto;
    }
  }
  .sub-category-box{
    padding:10px;
    span{
      font-size: 0.8em;
    }
    h4{
      font-size: 1.2em;
    }
  }
  #filters-sidepanel-trigger{
    position: fixed;
    left: 0;
    top: 30%;
    background-color: $brand;
    border:0;
    color: #fff;
    padding:10px 20px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 9;
    &:focus{
      outline:0;
    }
  }
  .filters-sidepanel{
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
  }
}