@charset "UTF-8";
body {
  font-family: "Work Sans", "Tajawal", serif;
  font-size: 15px;
  padding-top: 100px;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

*::-webkit-scrollbar-thumb {
  background-color: #0D8287;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}
/* ============ Pages ============ */
#contact-us-hero {
  background: url("../images/heros/contact-us.jpg") no-repeat center center;
  background-size: cover;
}
#contact-us-hero .dark-overlap {
  padding: 15vh 5%;
}

.contact-form {
  padding: 80px 0;
}
.contact-form p {
  color: #555555;
  margin-bottom: 45px;
}
.contact-form ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.contact-form ul li {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
}
.contact-form ul li i {
  flex: 1;
  font-size: 1.5em;
  color: #0D8287;
}
.contact-form ul li span {
  flex: 8;
  margin-bottom: 35px;
}
.contact-form ul li span a {
  display: block;
  color: #333333;
  margin-bottom: 10px;
  transition: all ease 0.3s;
}
.contact-form ul li span a:hover {
  color: #0D8287;
  transition: all ease 0.3s;
}

.contact-us-map div h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.contact-us-map div iframe {
  width: 100%;
  height: 350px;
  margin-bottom: 0;
}

/* ============ LAYOUT ============ */
/* Navbar */
.upper-nav {
  width: 100%;
  height: 50px;
  background-color: #0D8287;
  padding: 15px 75px 0 75px;
}
.upper-nav ul {
  flex: 0.7;
  margin: 0 0 0 auto;
  display: flex;
  flex-basis: 0;
  text-align: right;
  justify-content: flex-end;
}
.upper-nav ul.upper-nav-social-media {
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  margin: -5px 0 0 0;
}
.upper-nav ul.upper-nav-social-media li {
  font-size: 1.5em;
}
.upper-nav ul li {
  padding: 0;
  color: #fff;
  font-size: 0.9em;
  list-style: none;
  margin-left: 30px;
}
.upper-nav ul li a {
  color: #fff;
}

.navbar {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0 75px;
}
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
}
.navbar .navbar-nav .nav-item {
  margin-left: 25px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #555555;
  transition: all ease 0.3s;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30%;
  display: block;
  background: #0D8287;
  opacity: 0;
  transform: translateX(-10px);
  transition: all ease 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0D8287;
  transition: all ease 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover:after {
  opacity: 1;
  transform: translateY(0);
  transition: all ease 0.3s;
}

/* Footer */
.footer {
  background: url("../images/footer-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 25px;
  color: #fff;
}
.footer .footer-info img.footer-logo {
  height: 70px;
  width: auto;
}
.footer .footer-info h2 {
  font-size: 1.9em;
}
.footer .footer-info p {
  font-size: 0.9em;
  line-height: 1.95em;
}
.footer .footer-info ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.footer .footer-info ul li {
  display: inline-block;
  margin-right: 15px;
}
.footer .footer-info ul li a {
  color: #fff;
  font-size: 1.1em;
}
.footer .footer-links {
  padding-top: 42px;
}
.footer .footer-links ul {
  list-style: none;
}
.footer .footer-links ul li {
  margin-bottom: 15px;
}
.footer .footer-links ul li a {
  color: #fff;
}

#back-to-top {
  height: 60px;
  width: 60px;
  z-index: 9999;
  padding-top: 12px;
  border: 4px solid #0D8287;
  background: #0D8287;
  color: #fff;
  position: fixed;
  right: -100px;
  bottom: 50px;
  border-radius: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: all ease 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#back-to-top i {
  transition: all ease 0.3s;
}
#back-to-top:hover {
  background-color: #0D8287;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
}
#back-to-top:hover i {
  transform: translateY(-3px);
  transition: all ease 0.3s;
}

@media screen and (max-width: 1150px) {
  .upper-nav {
    padding: 0 20px;
  }
  .upper-nav ul {
    flex: 1;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .upper-nav {
    display: none;
  }

  .navbar {
    padding: 0;
  }
  .navbar .navbar-toggler {
    color: #000;
    margin-right: 10px;
  }
  .navbar .navbar-brand {
    margin-left: 10px;
  }
  .navbar .navbar-nav {
    padding-top: 10vh;
    margin: 0 auto;
    height: 100vh;
    width: 100% !important;
    background: #fff;
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    margin-bottom: 15px;
    margin-left: 0;
  }

  /* Footer */
  .footer .footer-map iframe {
    width: 100%;
  }
}
/* ============ COMPONENTS ============ */
.bg-brand {
  background-color: #0D8287;
}

.color-brand {
  color: #0D8287;
}

.hero-section {
  height: calc(100vh - 100px);
}
.hero-section .dark-overlap {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-section .dark-overlap h2, .hero-section .dark-overlap h1 {
  color: #fff;
  font-size: 6em;
}
.hero-section .dark-overlap p {
  color: #fff;
  font-size: 1.6em;
}
.hero-section .social-media-hero {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 4px;
}
.hero-section .social-media-hero h3,
.hero-section .social-media-hero p {
  color: #fff;
}
.hero-section .social-media-hero p {
  margin-bottom: 25px;
  font-size: 1.2em;
}
.hero-section .social-media-hero ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.hero-section .social-media-hero ul li {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  font-size: 1.1em;
  transition: all ease 0.3s;
}
.hero-section .social-media-hero ul li a {
  color: #fff;
  display: flex;
  flex-basis: 0;
  align-items: center;
}
.hero-section .social-media-hero ul li a i {
  flex: 1;
}
.hero-section .social-media-hero ul li a span {
  flex: 6;
  text-align: center;
}
.hero-section .social-media-hero ul li.facebook-li {
  background-color: #4267B2;
}
.hero-section .social-media-hero ul li.facebook-li:hover {
  transition: all ease 0.3s;
  background-color: #375187;
}
.hero-section .social-media-hero ul li.whatsapp-li {
  background-color: #25D366;
}
.hero-section .social-media-hero ul li.whatsapp-li:hover {
  transition: all ease 0.3s;
  background-color: #28c362;
}
.hero-section .social-media-hero ul li.instagram-li {
  background: linear-gradient(90deg, #8a3ab9 0%, #bc2a8d 40%, #e95950 100%);
  background-color: #bc2a8d;
}
.hero-section .social-media-hero ul li.instagram-li:hover {
  transition: all ease 0.3s;
  background: linear-gradient(180deg, #8a3ab9 0%, #bc2a8d 40%, #e95950 100%);
  background-color: #bc2a8d;
}
.hero-section .social-media-hero ul li.email-li {
  background-color: #333333;
}
.hero-section .social-media-hero ul li.email-li:hover {
  transition: all ease 0.3s;
  background-color: #444;
}
.hero-section .social-media-hero ul li.youtube-li {
  background-color: #FF0000;
}
.hero-section .social-media-hero ul li.youtube-li:hover {
  transition: all ease 0.3s;
  background-color: #d40f0f;
}

.testimonials-section {
  background: url("../images/heros/testos-bg.jpg") no-repeat center;
  background-size: cover;
}
.testimonials-section .owl-nav {
  position: absolute;
  margin-top: -20%;
  width: 100%;
}
.testimonials-section .owl-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
}
.testimonials-section .owl-nav button:hover, .testimonials-section .owl-nav button:focus {
  border: none;
  outline: none;
}
.testimonials-section .owl-nav button.owl-prev {
  position: absolute;
  left: 3%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.testimonials-section .owl-nav button.owl-next {
  position: absolute;
  right: 3%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.testimonials-section .dark-overlap {
  background: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
}
.testimonials-section .dark-overlap h2 {
  text-align: center;
  color: #fff;
}
.testimonials-section .dark-overlap .slide {
  padding: 80px 0;
}
.testimonials-section .dark-overlap .slide .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}
.testimonials-section .dark-overlap .slide .user-name {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
}
.testimonials-section .dark-overlap .slide .user-job-title {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}
.testimonials-section .dark-overlap .slide .testimonial-content {
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 4px;
  width: 85%;
  margin-left: auto;
}
.testimonials-section .dark-overlap .slide .testimonial-content h3 {
  color: #0D8287;
  margin-bottom: 15px;
}
.testimonials-section .dark-overlap .slide .testimonial-content p {
  color: #555555;
  line-height: 2em;
}
.testimonials-section .dark-overlap .slide .testimonial-content .small-quote-icon {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
}
.testimonials-section .dark-overlap .slide .big-quote-icon {
  transform: rotate(180deg);
  font-size: 8em;
  position: absolute;
  opacity: 0.3;
  bottom: -65px;
  right: 35px;
}
.testimonials-section .dark-overlap .slide .single-testemonials-card {
  position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 60%;
  margin: auto;
  height: 400px;
}
.testimonials-section .dark-overlap .slide .single-testemonials-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: -60px auto 15px auto;
  border: 5px solid #0D8287;
}
.testimonials-section .dark-overlap .slide .single-testemonials-card h4 {
  color: #333333;
  font-size: 1.3em;
  margin-bottom: 15px;
}
.testimonials-section .dark-overlap .slide .single-testemonials-card p {
  color: #555555;
  font-size: 0.9em;
  line-height: 2em;
}
.testimonials-section .dark-overlap .slide a.view-on-facebook {
  position: absolute;
  top: -10px;
  right: 20%;
  width: 35px;
  height: 35px;
  background: #4267B2;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding-top: 8px;
  transition: all ease 0.3s;
}
.testimonials-section .dark-overlap .slide a.view-on-facebook:hover {
  transition: all ease 0.3s;
  background: #5d85d4;
}
.testimonials-section .testimonial-rating {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}
.testimonials-section .testimonial-rating h3 {
  margin: 0;
  flex: 6;
}
.testimonials-section .testimonial-rating a.reviews-button {
  flex: 1;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px;
  text-align: center;
  transition: all ease 0.3s;
}
.testimonials-section .testimonial-rating a.reviews-button:hover {
  transition: all ease 0.3s;
  background-color: #0D8287;
  border-color: #0D8287;
}

.logo-parade {
  padding: 60px 0;
  width: 70%;
  margin: auto;
}
.logo-parade h2 {
  color: #0D8287;
  text-align: center;
  margin-bottom: 50px;
}
.logo-parade .owl-nav {
  position: absolute;
  margin-top: -15%;
  width: 100%;
}
.logo-parade .owl-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
}
.logo-parade .owl-nav button:hover, .logo-parade .owl-nav button:focus {
  border: none;
  outline: none;
}
.logo-parade .owl-nav button.owl-prev {
  position: absolute;
  left: -5%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.logo-parade .owl-nav button.owl-next {
  position: absolute;
  right: -5%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.logo-parade .client-card {
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
  transition: all ease 0.3s;
}
.logo-parade .client-card a:hover {
  cursor: default;
}
.logo-parade .client-card img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  transition: all ease 0.3s;
}
.logo-parade .client-card:hover img {
  transform: scale(1.2);
  transition: all ease 0.3s;
}

.icon-button {
  padding: 10px 25px;
  background: #0D8287;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  transition: all ease 0.3s;
}
.icon-button i {
  margin-right: 10px;
}
.icon-button:hover {
  color: #fff;
  background: #095558;
  transition: all ease 0.3s;
}

.youtube-button {
  background: #c30404;
  transition: all ease 0.3s;
}
.youtube-button:hover {
  background: #db1c1c;
  transition: all ease 0.3s;
}

.section-title {
  position: relative;
  text-align: center;
}
.section-title:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background: #0D8287;
  bottom: -10px;
  left: 45%;
  right: 45%;
}

.woodcourt-form label {
  display: block;
  font-weight: 500;
  font-size: 0.9em;
}
.woodcourt-form input,
.woodcourt-form textarea,
.woodcourt-form select {
  display: block;
  padding: 10px;
  border: none;
  background: #F1F1F1;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}
.woodcourt-form button {
  border: none;
}
.woodcourt-form button:focus {
  border: none;
  outline: none;
}

.about-us-description {
  padding: 80px 0;
}
.about-us-description h2 {
  margin-bottom: 15px;
}
.about-us-description p {
  color: #555555;
  margin-bottom: 0;
  line-height: 2em;
}
.about-us-description img.we-are-the-wood-court-image {
  width: auto;
  margin: auto;
  display: block;
  height: 450px;
}

.category-modal .modal-header {
  border-bottom: 0;
}
.category-modal .modal-title {
  color: #0D8287;
  font-size: 1.2em;
}
.category-modal p.category-description {
  color: #555555;
  font-size: 0.85em;
  line-height: 2em;
}
.category-modal ul.sub-categories-list {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style-type: none;
}
.category-modal ul.sub-categories-list li {
  background-color: #F1F1F1;
  padding: 8px;
  text-align: left;
  transition: all ease 0.3s;
}
.category-modal ul.sub-categories-list li:hover, .category-modal ul.sub-categories-list li.active {
  background-color: #0D8287;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
}
.category-modal ul.category-images-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  max-height: 350px;
  overflow-y: scroll;
  display: none;
}
.category-modal ul.category-images-list.active {
  display: block;
}
.category-modal ul.category-images-list li {
  display: inline-block;
  margin: 0px;
}
.category-modal ul.category-images-list li img {
  margin: 4px;
  width: 150px;
  height: 150px;
}

.full-width-video {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.full-width-video iframe {
  width: 600px;
  height: 400px;
}
.full-width-video #video-close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #fff;
  font-size: 1.3em;
}

.our-achievements {
  height: 400px;
  background: url("../images/about-us-bg.jpg") center center no-repeat;
  background-size: cover;
}
.our-achievements .dark-overlap {
  padding: 50px 0;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.our-achievements .dark-overlap .section-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.our-achievements .dark-overlap .single-counter-item {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}
.our-achievements .dark-overlap .single-counter-item .icon-container {
  width: 75px;
  height: 75px;
  background: #0D8287;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  text-align: center;
  padding-top: 15px;
}
.our-achievements .dark-overlap .single-counter-item .icon-container i {
  font-size: 3em;
  color: #fff;
}
.our-achievements .dark-overlap .single-counter-item .content-container {
  padding: 10px;
  border-radius: 4px;
  font-size: 1.5em;
  color: #fff;
}
.our-achievements .dark-overlap .single-counter-item .content-container p {
  font-size: 2em;
}

.products-list {
  padding: 100px 0;
}
.products-list ul {
  list-style: none;
}
.products-list ul li {
  height: 100%;
}
.products-list ul li .limited-edition-bg {
  width: 100%;
  height: 250px;
}
.products-list ul li .limited-edition-bg#live-egd {
  background: url("../images/collections/live-edge-desks.png") center center;
  background-size: cover;
}
.products-list ul li .limited-edition-bg#lighting-accessories {
  background: url("../images/collections/lighting-accessories.png") center center;
  background-size: cover;
}
.products-list ul li .limited-edition-bg#business-cards {
  background: url("../images/collections/busniess-cards.jpg") center center;
  background-size: cover;
}
.products-list ul li .limited-edition-bg#satined-coasters {
  background: url("../images/collections/stained-coasters.png") center center;
  background-size: cover;
}
.products-list ul li .item-flag {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 0.8em;
}
.products-list ul li .item-flag.limited {
  background-color: #d2ac36;
  color: #fff;
}
.products-list ul li .item-flag.new {
  background-color: #48a917;
  color: #fff;
}
.products-list ul li .item-flag.sale {
  background-color: #ce4949;
  color: #fff;
}
.products-list ul li .content-container {
  background-color: #F1F1F1;
  padding: 10px;
}
.products-list ul li .content-container h3 {
  color: #0D8287;
  font-size: 1.3em;
}
.products-list ul li .content-container p {
  color: #333333;
  line-height: 2em;
  font-size: 0.9em;
}
.products-list ul li .content-container .place-order-button {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  color: #0D8287;
}
.products-list .owl-nav {
  position: absolute;
  margin-top: -20%;
  width: 100%;
}
.products-list .owl-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
}
.products-list .owl-nav button:hover, .products-list .owl-nav button:focus {
  border: none;
  outline: none;
}
.products-list .owl-nav button.owl-prev {
  position: absolute;
  left: -7%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.products-list .owl-nav button.owl-next {
  position: absolute;
  right: -5%;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.products-list input, .products-list textarea {
  font-size: 0.9em;
}
.products-list input[type=submit] {
  border: none;
  outline: none;
  padding: 5px 20px;
}
.products-list #limited-edition-modal-images {
  height: 400px;
  overflow-y: scroll;
}
.products-list #limited-edition-modal-images ul.category-images-list {
  display: block !important;
}
.products-list #limited-edition-modal-images ul.category-images-list li img {
  height: 100px;
  width: 100px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .hero-section .dark-overlap h1, .hero-section .dark-overlap h2 {
    font-size: 3.5em;
    text-align: center;
  }
  .hero-section .dark-overlap p {
    font-size: 1.5em;
    text-align: center;
  }
  .hero-section .dark-overlap a {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .hero-section .social-media-hero {
    display: none;
  }

  .testimonials-section .dark-overlap {
    padding: 50px 0;
  }
  .testimonials-section .dark-overlap .slide {
    padding-top: 20px;
  }
  .testimonials-section .dark-overlap .slide .user-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
  }
  .testimonials-section .dark-overlap .slide .user-job-title {
    margin-bottom: 35px;
  }
  .testimonials-section .dark-overlap .slide .testimonial-content {
    width: 95%;
  }
  .testimonials-section .dark-overlap .slide .single-testemonials-card {
    padding: 10px;
    width: 90%;
    height: 500px;
  }
  .testimonials-section .dark-overlap .slide .single-testemonials-card img {
    height: 50px;
    width: 50px;
    margin: -30px auto 15px auto;
    border: 3px solid #0D8287;
  }
  .testimonials-section .dark-overlap .slide .single-testemonials-card h4 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  .testimonials-section .dark-overlap .slide .single-testemonials-card p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .testimonials-section .testimonial-rating {
    padding: 10px;
  }
  .testimonials-section .testimonial-rating h3 {
    flex: 4;
    font-size: 1.2em;
  }
  .testimonials-section .testimonial-rating a.reviews-button {
    padding: 5px;
    font-size: 0.9em;
  }

  .logo-parade .client-card img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
  }

  .about-us-description {
    padding: 80px 0;
  }
  .about-us-description img.we-are-the-wood-court-image {
    margin-top: 50px;
    max-height: 250px;
    width: 100%;
  }

  .category-modal ul.category-images-list li {
    margin: 0;
  }
  .category-modal ul.category-images-list li img {
    width: 80px;
    height: 80px;
  }

  .our-achievements {
    height: 485px;
  }
  .our-achievements .dark-overlap {
    height: 485px;
  }
  .our-achievements .dark-overlap .single-counter-item {
    margin: 10px auto;
    padding: 10px;
  }
  .our-achievements .dark-overlap .single-counter-item .icon-container {
    width: 45px;
    height: 45px;
    padding-top: 13px;
  }
  .our-achievements .dark-overlap .single-counter-item .icon-container i {
    font-size: 1em;
  }
  .our-achievements .dark-overlap .single-counter-item .content-container {
    padding: 5px;
    font-size: 0.8em;
    color: #fff;
  }
  .our-achievements .dark-overlap .single-counter-item .content-container p {
    font-size: 2em;
  }
}
.datatables-button {
  padding: 7px 15px;
  border: none;
  color: #fff;
  border-radius: 50px;
  margin-right: 10px;
}
.datatables-button.excel-export {
  background-color: #1D6F42;
}
.datatables-button.copy-content {
  background-color: darkorange;
}

/* ============ PAGES ============ */
.homepage-hero-section .homepage-herosection-bg-image {
  height: 100vh;
}
.homepage-hero-section .logo-img {
  width: 50% !important;
  margin-top: 5%;
}
.homepage-hero-section .p-category {
  color: #0D8287;
  margin-bottom: 0;
}
.homepage-hero-section h2, .homepage-hero-section p, .homepage-hero-section a, .homepage-hero-section .logo-img {
  margin-left: 6%;
}
.homepage-hero-section h2 {
  font-weight: 600;
  font-size: 3.6em;
}
.homepage-hero-section .description {
  line-height: 2em;
  font-size: 1.1em;
  color: #555555;
}
.homepage-hero-section .end-img {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  width: 300px !important;
  z-index: -1;
}
@media (max-width: 768px) {
  .homepage-hero-section .content-section {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px 25px;
  }
  .homepage-hero-section .content-section .logo-img {
    z-index: 2;
    width: 60% !important;
    display: block;
  }
  .homepage-hero-section .content-section h2 {
    font-size: 2.5em;
  }
  .homepage-hero-section .content-section p, .homepage-hero-section .content-section h2, .homepage-hero-section .content-section a, .homepage-hero-section .content-section .logo-img {
    color: white;
    margin-left: 0;
  }
  .homepage-hero-section .content-section .description {
    line-height: 1.5;
  }
  .homepage-hero-section .content-section a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  .homepage-hero-section .content-section .text-dark {
    color: #fff !important;
  }
  .homepage-hero-section .homepage-herosection-bg-image {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .homepage-hero-section .content-section {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px 25px;
  }
  .homepage-hero-section .content-section .logo-img {
    z-index: 2;
    width: 60% !important;
    display: block;
  }
  .homepage-hero-section .content-section .text-dark {
    color: #fff !important;
  }
  .homepage-hero-section .content-section h2 {
    font-size: 2.5em;
  }
  .homepage-hero-section .content-section p, .homepage-hero-section .content-section h2, .homepage-hero-section .content-section a, .homepage-hero-section .content-section .logo-img {
    color: white;
    margin-left: 0;
  }
  .homepage-hero-section .content-section .p-category {
    color: white;
  }
  .homepage-hero-section .content-section .description {
    line-height: 1.5;
  }
  .homepage-hero-section .content-section a {
    margin-bottom: 15px;
    text-align: center;
  }
  .homepage-hero-section .content-section .homepage-herosection-bg-image {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}
.homepage-hero-section #slide-one {
  background: url("../images/heros/kitchen-hero.jpg") no-repeat center center;
  background-size: cover;
}
.homepage-hero-section #slide-two {
  background: url("../images/heros/floors-hero.jpeg") no-repeat center center;
  background-size: cover;
}
.homepage-hero-section #slide-three {
  background: url("../images/heros/stairs-hero.jpg") no-repeat center center;
  background-size: cover;
}
.homepage-hero-section #slide-four {
  background: url("../images/heros/outdoor-hero.jpg") no-repeat center center;
  background-size: cover;
}

.logo-parade ul {
  flex-flow: wrap;
  justify-content: space-around;
}
.logo-parade ul img {
  display: block;
  max-width: 100%;
  margin-bottom: 45px;
}

#homepage-categories {
  position: relative;
  padding: 100px 0;
}
#homepage-categories #homepage-categories-artistic-touch {
  position: absolute;
  transform: rotate(90deg);
  opacity: 0.2;
  top: -16px;
  left: -5px;
  width: 300px !important;
}
#homepage-categories .category-card {
  background: #F1F1F1;
}
#homepage-categories .category-card .category-card-bg {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
}
#homepage-categories .category-card .category-card-bg#wood-flooring {
  background: url("../images/categories/wood-flooring.jpg");
}
#homepage-categories .category-card .category-card-bg#cabinets {
  background: url("../images/categories/cabinets.jpg");
}
#homepage-categories .category-card .category-card-bg#outdoor {
  background: url("../images/categories/outdoor.jpg");
}
#homepage-categories .category-card h3 {
  font-size: 1.5em;
  color: #333333;
}
#homepage-categories .category-card p {
  color: #555555;
  line-height: 2em;
  margin-bottom: 30px;
}
#homepage-categories .category-card a.view-more-link {
  position: absolute;
  bottom: 10px;
  color: #0D8287;
  font-weight: bold;
}

#homepage-cta {
  background: url("../images/heros/why-us.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}
#homepage-cta .dark-overlap {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}
#homepage-cta .dark-overlap h2 {
  color: #fff;
  font-size: 5em;
  margin-bottom: 55px;
}
#homepage-cta .dark-overlap p {
  color: #fff;
  font-size: 1.5em;
}
#homepage-cta.homepage-video-cta {
  height: 400px;
  background: url("../images/heros/video-background.png") no-repeat center center;
  background-size: cover;
  padding-top: 160px;
  text-align: center;
}
#homepage-cta .why-us-icon-container {
  margin: -45px auto 15px auto;
  display: block;
  background: #0D8287;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 2.3em;
  color: #fff;
  text-align: center;
  padding-top: 12px;
  transition: all ease 0.3s;
}
#homepage-cta .why-us-icon-container i {
  font-style: normal;
}
#homepage-cta .why-us-card-title {
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}
#homepage-cta .why-us-cards-toggler .why-us-card {
  margin-bottom: 50px;
  transition: all ease 0.3s;
}
#homepage-cta .why-us-cards-toggler .why-us-card:hover, #homepage-cta .why-us-cards-toggler .why-us-card.active {
  cursor: pointer;
}
#homepage-cta .why-us-cards-toggler .why-us-card:hover .why-us-icon-container, #homepage-cta .why-us-cards-toggler .why-us-card.active .why-us-icon-container {
  background-color: #249196;
  transition: all ease 0.3s;
}
#homepage-cta .why-us-cards-toggler .why-us-card .why-us-card-title {
  font-size: 0.8em;
}
#homepage-cta .why-us-card-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
#homepage-cta .why-us-card-content .why-us-card {
  display: none;
  padding: 10px;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 4px;
  max-height: 150px;
  margin-bottom: 100px;
  transition: all ease 0.3s;
}
#homepage-cta .why-us-card-content .why-us-card.active {
  display: block;
}
#homepage-cta .why-us-card-content .why-us-card .why-us-card-description {
  height: 150px;
  font-size: 1em !important;
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  color: #fff !important;
  transition: all ease 0.3s;
}

#homepage-promotions {
  position: relative;
}
#homepage-promotions #homepage-promotions-artistic-touch {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  height: 200px;
  width: auto;
  transform: rotate(90deg);
}

#our-products {
  padding: 100px 0;
}
#our-products p.header-sub-title {
  color: #555555;
  text-align: center;
}
#our-products #filters {
  display: flex;
  flex-basis: 0;
  justify-content: space-between;
  width: 45%;
  margin: 40px auto;
}
#our-products #filters button {
  color: #555555;
  border: none;
  background: none;
  padding: 8px 30px;
  border-radius: 4px;
  transition: all ease 0.3s;
}
#our-products #filters button:hover {
  cursor: pointer;
  color: #0D8287;
  transition: all ease 0.3s;
}
#our-products #filters button.is-checked {
  border: none;
  outline: none;
  background: #0D8287;
  color: #fff;
}
#our-products .products-isotope {
  width: 100%;
}
#our-products .products-isotope .single-product {
  border: 5px solid #FFF;
}
#our-products .products-isotope .grid-item,
#our-products .products-isotope .grid-sizer {
  width: 25%;
}
#our-products .products-isotope .grid-item {
  float: left;
  padding: 0;
  border: 10px solid red;
  height: 0;
  /* padding-bottom is calculated and rendered in to HTML OR inserted on css class*/
}
#our-products .products-isotope .single-product img {
  max-height: 100% !important;
  max-width: 100% !important;
}

#homepage-aboutus-section {
  position: relative;
}
#homepage-aboutus-section #homepage-about-artistic-touch {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
  height: 500px;
  opacity: 0.2;
}

.homepage-videos-grid h2 {
  color: #333333;
}
.homepage-videos-grid p {
  color: #555555;
  line-height: 2em;
}
.homepage-videos-grid .row {
  margin-bottom: 100px;
}
.homepage-videos-grid .video-background-homepage {
  position: relative;
  margin-bottom: 15px;
}
.homepage-videos-grid .video-background-homepage img {
  width: 100%;
  height: 350px;
}
.homepage-videos-grid .video-background-homepage .homepage-play-video {
  position: absolute;
  top: 38%;
  left: 40%;
}

@media screen and (max-width: 768px) {
  #homepage-categories {
    padding: 50px 0;
  }
  #homepage-categories #homepage-categories-artistic-touch {
    display: none;
  }

  #homepage-promotions {
    padding: 50px 0;
  }
  #homepage-promotions #homepage-promotions-artistic-touch {
    height: 100px;
  }
  #homepage-promotions ul {
    -webkit-padding-start: 10px;
            padding-inline-start: 10px;
  }
  #homepage-promotions .owl-dots {
    margin-top: 50px;
  }
  #homepage-promotions .owl-nav {
    display: none;
  }

  #our-products {
    padding: 50px 0;
  }
  #our-products #filters {
    background: #F1F1F1;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin: 20px auto;
  }
  #our-products #filters button {
    padding: 2px 5px;
  }
  #our-products .products-isotope {
    width: 100%;
  }
  #our-products .products-isotope .grid-item,
#our-products .products-isotope .grid-sizer {
    width: 100%;
  }
  #our-products .products-isotope .grid-item img,
#our-products .products-isotope .grid-sizer img {
    display: block;
    width: 100%;
  }

  #homepage-aboutus-section #homepage-about-artistic-touch {
    display: none;
  }

  #homepage-cta .why-us-icon-container {
    margin: -45px auto 15px auto;
    display: block;
    background: #0D8287;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    transition: all ease 0.3s;
  }
  #homepage-cta .why-us-icon-container i {
    font-style: normal;
  }
  #homepage-cta .why-us-card-title {
    color: #fff;
    font-size: 1.3em;
    text-align: center;
  }
  #homepage-cta .why-us-cards-toggler .why-us-card {
    margin-bottom: 50px;
    transition: all ease 0.3s;
  }
  #homepage-cta .why-us-cards-toggler .why-us-card:hover, #homepage-cta .why-us-cards-toggler .why-us-card.active {
    cursor: pointer;
  }
  #homepage-cta .why-us-cards-toggler .why-us-card:hover .why-us-icon-container, #homepage-cta .why-us-cards-toggler .why-us-card.active .why-us-icon-container {
    background-color: #249196;
    transition: all ease 0.3s;
  }
  #homepage-cta .why-us-cards-toggler .why-us-card .why-us-card-title {
    display: none;
  }
  #homepage-cta .why-us-card-content .why-us-card .why-us-icon-container {
    display: none;
  }
}
#about-us-hero-section {
  background: url("../images/heros/about-us.jpg") no-repeat center center;
  background-size: cover;
}
#about-us-hero-section .dark-overlap {
  padding: 15vh 5%;
}

.timeline {
  padding: 100px 0;
}
.timeline h2 {
  text-align: center;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #0D8287;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F1F1F1;
  color: #555555;
}
.timeline ul li div time {
  color: #0D8287;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F1F1F1 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F1F1F1;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #0D8287;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F1F1F1 transparent transparent;
  }
}
#contact-us-hero {
  background: url("../images/heros/contact-us.jpg") no-repeat center center;
  background-size: cover;
}
#contact-us-hero .dark-overlap {
  padding: 15vh 5%;
}

.contact-form {
  padding: 80px 0;
}
.contact-form p {
  color: #555555;
  margin-bottom: 45px;
}
.contact-form ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.contact-form ul li {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
}
.contact-form ul li i {
  flex: 1;
  font-size: 1.5em;
  color: #0D8287;
}
.contact-form ul li span {
  flex: 8;
  margin-bottom: 35px;
}
.contact-form ul li span a {
  display: block;
  color: #333333;
  margin-bottom: 10px;
  transition: all ease 0.3s;
}
.contact-form ul li span a:hover {
  color: #0D8287;
  transition: all ease 0.3s;
}

.contact-us-map div h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.contact-us-map div iframe {
  width: 100%;
  height: 350px;
  margin-bottom: 0;
}

#our-factory-hero-section {
  background: url("../images/heros/our-factory.jpg") no-repeat center center;
  background-size: cover;
}
#our-factory-hero-section .dark-overlap {
  padding: 15vh 5%;
}

#events-hero {
  background: url("../images/heros/events.jpg") no-repeat center center;
  background-size: cover;
}
#events-hero .dark-overlap {
  padding-top: 25vh;
}

.events-list {
  padding: 100px 0;
}
.events-list .single-event {
  display: flex;
  flex-basis: 0;
}
.events-list .single-event .image-container {
  flex: 1;
}
.events-list .single-event .image-container img {
  height: 100%;
  width: 100%;
}
.events-list .single-event .content-container {
  flex: 3;
  padding: 25px;
  background: #F1F1F1;
}
.events-list .single-event .content-container h2 {
  font-size: 1.7em;
}
.events-list .single-event .content-container .metabox i {
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 0.8em;
  padding-top: 6px;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.events-list .single-event .content-container p {
  color: #555555;
  line-height: 2em;
}

.single-event-article {
  padding: 50px 0;
}
.single-event-article .single-event-article-sidebar {
  background: #F1F1F1;
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 40px;
}
.single-event-article .single-event-article-sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 25px;
}
.single-event-article .single-event-article-sidebar#latest-events ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  margin-bottom: 0;
}
.single-event-article .single-event-article-sidebar#latest-events ul li {
  margin-bottom: 10px;
}
.single-event-article .single-event-article-sidebar#latest-events ul li:last-child {
  margin-bottom: 0;
}
.single-event-article .single-event-article-sidebar#latest-events ul li a {
  color: #555555;
  transition: all ease 0.3s;
}
.single-event-article .single-event-article-sidebar#latest-events ul li a:hover {
  color: #0D8287;
  padding-left: 15px;
  transition: all ease 0.3s;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-bottom: 0;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  transition: all ease 0.3s;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li a {
  color: #fff;
  display: flex;
  flex-basis: 0;
  align-items: center;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li a i {
  flex: 1;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li a span {
  flex: 6;
  text-align: center;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.youtube-li {
  background-color: #FF0000;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.youtube-li:hover {
  transition: all ease 0.3s;
  background-color: #d40f0f;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.facebook-li {
  background-color: #4267B2;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.facebook-li:hover {
  transition: all ease 0.3s;
  background-color: #375187;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.whatsapp-li {
  background-color: #25D366;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.whatsapp-li:hover {
  transition: all ease 0.3s;
  background-color: #28c362;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.email-li {
  background-color: #333333;
}
.single-event-article .single-event-article-sidebar#keep-in-touch ul li.email-li:hover {
  transition: all ease 0.3s;
  background-color: #444;
}
.single-event-article .metabox i {
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 0.8em;
  padding-top: 6px;
  background: #0D8287;
  color: #fff;
  border-radius: 50%;
}
.single-event-article p.description {
  font-size: 1.3em;
  color: #555555;
}
.single-event-article .event-content p {
  color: #555555;
  line-height: 2em;
}

@media screen and (max-width: 768px) {
  .events-list {
    padding: 50px 0;
  }
  .events-list .single-event {
    flex-direction: column;
  }
  .events-list .single-event .content-container {
    padding: 15px;
  }
  .events-list .single-event .content-container h2 {
    font-size: 1.3em;
  }
}
.login-form {
  width: 60%;
}
.login-form button {
  background-color: #0D8287;
  color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 100%;
  }
}
#products-section {
  height: 60vh;
  background: url("../images/heros/products.jpg") no-repeat center center;
  background-size: cover;
}
#products-section .dark-overlap {
  height: 60vh;
  padding: 15vh 5%;
}

.products-sidebar {
  background: #F1F1F1;
  padding: 20px;
  width: 75%;
  margin: auto;
  border-radius: 4px;
}
.products-sidebar .sidebar-title {
  color: #0D8287;
  font-size: 1.1em;
  margin-bottom: 25px;
}
.products-sidebar ul.filter-items {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.products-sidebar ul.filter-items li {
  margin-bottom: 10px;
}
.products-sidebar ul.filter-items li > a {
  color: #333333;
}
.products-sidebar ul.filter-items li > a:hover {
  color: #0D8287;
}
.products-sidebar ul.filter-items li ul.filter-sub-items {
  list-style: none;
}
.products-sidebar ul.filter-items li ul.filter-sub-items li {
  margin-bottom: 0;
}
.products-sidebar ul.filter-items li ul.filter-sub-items li a {
  font-size: 0.9em;
}
.products-sidebar ul.filter-items li ul.filter-sub-items li a.active {
  color: #0D8287;
  font-weight: bold;
}

.single-photo {
  display: block;
  margin-bottom: 10px;
  height: 250px;
  width: 250px;
}
.single-photo img {
  height: 250px;
  width: 250px;
}

.single-product-item {
  background-color: #F1F1F1;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.single-product-item .image-container {
  height: 300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.single-product-item .content-container {
  padding: 15px;
}
.single-product-item .content-container h2 {
  color: #0D8287;
  font-size: 1.2em;
}
.single-product-item .content-container p {
  color: #333333;
}

.category-images-list {
  display: none;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.category-images-list li {
  display: inline-block;
  margin: 10px;
}
.category-images-list.active {
  display: block;
}

.single-product-images {
  padding: 40px 0;
}
.single-product-images h3 {
  font-size: 1.3em;
  color: #0D8287;
}
.single-product-images ul {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.single-product-images ul li {
  margin-right: 15px;
}
.single-product-images ul li img {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  #products-section {
    margin-bottom: 50px;
  }

  .products-sidebar {
    width: 100%;
  }

  .category-images-list {
    text-align: center;
  }
  .category-images-list li {
    margin: 3px auto;
  }
}