body {
  font-family: "Work Sans", serif;
  font-size: 14px;
  padding-top: 100px;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}
/* ============ Pages ============ */
#contact-us-hero {
  background: url("../images/contact-us-hero.jpg") no-repeat center center;
}

.contact-form {
  padding: 80px 0;
}
.contact-form p {
  color: #8B8B8B;
  margin-bottom: 45px;
}
.contact-form ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.contact-form ul li {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
}
.contact-form ul li i {
  flex: 1;
  font-size: 1.5em;
  color: #0D8287;
}
.contact-form ul li span {
  flex: 8;
  margin-bottom: 50px;
}
.contact-form ul li span a {
  display: block;
  color: #333333;
  margin-bottom: 10px;
  transition: all ease 0.3s;
}
.contact-form ul li span a:hover {
  color: #0D8287;
  transition: all ease 0.3s;
}

/* ============ LAYOUT ============ */
/* Navbar */
.upper-nav {
  width: 100%;
  height: 40px;
  background-color: #0D8287;
  display: flex;
  align-items: center;
  padding: 0 75px;
}
.upper-nav ul {
  flex: 0.4;
  margin: 0 0 0 auto;
  display: flex;
  flex-basis: 0;
  text-align: right;
}
.upper-nav ul li {
  padding: 0;
  color: #fff;
  flex: 1;
  font-size: 0.8em;
  list-style: none;
}
.upper-nav ul li a {
  color: #fff;
}

.navbar {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0 75px;
}
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
}
.navbar .navbar-nav .nav-item {
  margin-left: 25px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #8B8B8B;
  transition: all ease 0.3s;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30%;
  display: block;
  background: #0D8287;
  opacity: 0;
  transform: translateX(-10px);
  transition: all ease 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0D8287;
  transition: all ease 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover:after {
  opacity: 1;
  transform: translateY(0);
  transition: all ease 0.3s;
}

/* Footer */
.footer {
  background: #333333;
  padding: 25px;
  color: #fff;
}
.footer .footer-info h2 {
  font-size: 1.9em;
}
.footer .footer-info p {
  font-size: 0.9em;
  line-height: 1.95em;
}
.footer .footer-info ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.footer .footer-info ul li {
  display: inline-block;
  margin-right: 15px;
}
.footer .footer-info ul li a {
  color: #fff;
  font-size: 1.1em;
}
.footer .footer-links {
  padding-top: 42px;
}
.footer .footer-links ul {
  list-style: none;
}
.footer .footer-links ul li {
  margin-bottom: 15px;
}
.footer .footer-links ul li a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .upper-nav {
    display: none;
  }

  .navbar {
    padding: 0;
  }
  .navbar .navbar-toggler {
    color: #000;
    margin-right: 10px;
  }
  .navbar .navbar-brand {
    margin-left: 10px;
  }
  .navbar .navbar-nav {
    padding-top: 10vh;
    margin: 0 auto;
    height: 100vh;
    width: 100% !important;
    background: #fff;
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    margin-bottom: 15px;
    margin-left: 0;
  }

  /* Footer */
  footer .footer-map iframe {
    width: 100%;
  }
}
/* ============ Components ============ */
.hero-section {
  height: calc(100vh - 100px);
  width: 100%;
  background-size: contain;
  background: red;
}
.hero-section .dark-overlap {
  width: 100%;
  height: calc(100vh - 100px);
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
}
.hero-section .dark-overlap .hero-section-content {
  padding-top: 15vh;
}
.hero-section .dark-overlap .hero-section-content h1 {
  margin-top: 12vh;
  font-size: 4.5em;
  margin-bottom: 20px;
}
.hero-section .dark-overlap .social-media-hero {
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 4px;
}
.hero-section .dark-overlap .social-media-hero h3, .hero-section .dark-overlap .social-media-hero p {
  color: #fff;
}
.hero-section .dark-overlap .social-media-hero p {
  margin-bottom: 25px;
}
.hero-section .dark-overlap .social-media-hero ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.hero-section .dark-overlap .social-media-hero ul li {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  font-size: 1.1em;
  transition: all ease 0.3s;
}
.hero-section .dark-overlap .social-media-hero ul li a {
  color: #fff;
  display: flex;
  flex-basis: 0;
  align-items: center;
}
.hero-section .dark-overlap .social-media-hero ul li a i {
  flex: 1;
}
.hero-section .dark-overlap .social-media-hero ul li a span {
  flex: 6;
  text-align: center;
}
.hero-section .dark-overlap .social-media-hero ul li.facebook-li {
  background-color: #4267B2;
}
.hero-section .dark-overlap .social-media-hero ul li.facebook-li:hover {
  transition: all ease 0.3s;
  background-color: #375187;
}
.hero-section .dark-overlap .social-media-hero ul li.whatsapp-li {
  background-color: #25D366;
}
.hero-section .dark-overlap .social-media-hero ul li.whatsapp-li:hover {
  transition: all ease 0.3s;
  background-color: #28c362;
}
.hero-section .dark-overlap .social-media-hero ul li.email-li {
  background-color: #333333;
}
.hero-section .dark-overlap .social-media-hero ul li.email-li:hover {
  transition: all ease 0.3s;
  background-color: #444;
}