
.p-50{
    padding: 50px 0;
}
.bg-brand{background-color: $brand;}
.color-brand{color: $brand;}
.hero-section {
    height: calc(100vh - 100px);
    .dark-overlap {
        width: 100%;
        height: calc(100vh - 100px);
        overflow-y: scroll;
        background-color: rgba(0,0,0,0.5);
        h2,h1 {
            color: #fff;
            font-size: 6em;
        }
        p {
            color: #fff;
            font-size: 1.6em;
        }
    }
    .social-media-hero {
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: -o-fit-content;
        margin: auto;
        background-color: rgba(0,0,0,0.4);
        padding: 25px;
        border-radius: 4px;
        h3,p{
            color: #fff;
        }
        p {
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        ul {
            list-style-type: none;
            padding-inline-start: 0;
            li {
                display: block;
                margin-bottom: 20px;
                padding: 15px;
                border-radius: 4px;
                font-size: 1.1em;
                transition: all ease 0.3s;
                a {
                    color: #fff;
                    display: flex;
                    flex-basis: 0;
                    align-items: center;

                    i {
                        flex: 1;
                    }

                    span {
                        flex: 6;
                        text-align: center;
                    }
                }

                &.facebook-li {
                    background-color: #4267B2;

                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #375187;
                    }
                }

                &.whatsapp-li {
                    background-color: #25D366;

                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #28c362;
                    }
                }
                &.instagram-li{
                  background: linear-gradient(90deg, rgba(138,58,185,1) 0%, rgba(188,42,141,1) 40%, rgba(233,89,80,1) 100%);
                  background-color: #bc2a8d;
                  &:hover {
                      transition: all ease 0.3s;
                      background: linear-gradient(180deg, rgba(138,58,185,1) 0%, rgba(188,42,141,1) 40%, rgba(233,89,80,1) 100%);
                      background-color: #bc2a8d;
                  }
                }

                &.email-li {
                    background-color: $black;
                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #444;
                    }
                }
                &.youtube-li {
                    background-color: #FF0000;
                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #d40f0f;
                    }
                }
            }
        }
        @media(max-width:992px){
          .hero-section-content{
              display: none;
          }
        }
    }
}
.testimonials-section {
    background: url("../images/heros/testos-bg.jpg") no-repeat center;
    background-size: cover;
    .owl-nav {
        position: absolute;
        margin-top: -20%;
        width: 100%;
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            font-size: 1.3em;
            &:hover , &:focus{
              border:none;
              outline: none;
            }
            &.owl-prev {
                position: absolute;
                left: 3%;
                background: $brand;
                color: #fff;
                border-radius: 50%;
            }
            &.owl-next {
                position: absolute;
                right: 3%;
                background: $brand;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
    .dark-overlap {
        background: rgba(0, 0, 0,0.5);
        padding: 100px 0;
        h2 {
          color: #fff;
          width: 100%;
          margin-bottom: 60px;
          font-size: 2.5em;
          text-align: center;
        }
        .slide {
            padding: 80px 0;
            .single-testemonials-card{
                position: relative;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0 0 8px rgba(0,0,0,0.5);
                padding: 15px;
                width: 60%;
                margin: auto;
                height: 400px;
                img{
                  height: 100px;
                  width: 100px;
                  border-radius: 50%;
                  display: block;
                  margin: -60px auto 15px auto;
                  border:5px solid $brand;
                }
                h4{
                  color: $black;
                  font-size: 1.3em;
                  margin-bottom: 15px;
                }
                p{
                  color: $medgrey;
                  font-size: 0.9em;
                  line-height: 2em;
                  height: 250px;
                  overflow-y: scroll;
                }
            }
            a.view-on-facebook{
              position: absolute;
              top: -10px;
              right: 20%;
              width: 35px;
              height: 35px;
              background: #4267B2;
              color: #fff;
              text-align: center;
              border-radius: 50%;
              padding-top: 8px;
              transition: all ease 0.3s;
              &:hover{
                transition: all ease 0.3s;
                background: #5d85d4;
              }
            }

        }
    }
    .testimonial-rating{
      background-color: rgba(0,0,0,0.8);
      padding: 30px;
      color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      h3{
        margin: 0;
        flex:6;
      }
      a.reviews-button{
        flex:1;
        border: 1px solid #fff;
        color: #fff;
        padding: 15px;
        text-align: center;
        transition: all ease 0.3s;
        &:hover{
          transition: all ease 0.3s;
          background-color: $brand;
          border-color: $brand;
        }
      }
    }
}
.logo-parade {
    padding: 60px 0;
    width: 70%;
    margin: auto;
    h2 {
        color: $brand;
        text-align: center;
        margin-bottom: 50px;
    }
    .owl-nav {
        position: absolute;
        margin-top: -15%;
        width: 100%;
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            font-size: 1.3em;
            &:hover , &:focus{
              border:none;
              outline: none;
            }
            &.owl-prev {
                position: absolute;
                left: -5%;
                background: $brand;
                color: #fff;
                border-radius: 50%;
            }
            &.owl-next {
                position: absolute;
                right: -5%;
                background: $brand;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
    .client-card{
      a:hover{
        cursor: default;
      }
      border-radius: 4px;
      padding: 5px;
      margin-bottom: 15px;
      transition: all ease 0.3s;
      img{
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
        transition: all ease 0.3s;
      }
      &:hover{
        img{
          transform: scale(1.2);
          transition: all ease 0.3s;
        }
      }

    }

}
.icon-button {
    padding: 10px 25px;
    background: $brand;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    transition: all ease 0.3s;
    i {
        margin-right: 10px;
    }
    &:hover {
        color: #fff;
        background: darken($brand , 10);
        transition: all ease 0.3s;
    }
}
.youtube-button{
  background: #c30404;
  transition: all ease 0.3s;
  &:hover{
    background: #db1c1c;
    transition: all ease 0.3s;
  }
}
.section-title {
    position: relative;
    text-align: center;
    font-size: 2.5em;
    &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 10%;
        background: $brand;
        bottom: -10px;
        left: 45%;
        right: 45%;
    }
}
.woodcourt-form {
    label {
        display: block;
        font-weight: 500;
        font-size: 0.9em;
    }

    input,
    textarea,
    select {
        display: block;
        padding: 10px;
        border: none;
        background: $lightgrey;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    button{
      border:none;
      &:focus{
        border:none;
        outline: none;
      }
    }
}
.about-us-description {
    padding: 80px 0;
    h2 {
        margin-bottom: 15px;
    }
    p {
        color: $medgrey;
        margin-bottom: 0;
        line-height: 2em;
    }

    img.we-are-the-wood-court-image {
        width: auto;
        margin: auto;
        display: block;
        height: 450px;

    }
}
.category-modal{
  .modal-header{
    border-bottom: 0;
  }
  .modal-title{
    color: $brand;
    font-size: 1.2em;
  }
  p.category-description{
    color: $medgrey;
    font-size: 0.85em;
    line-height: 2em;
  }
  ul.sub-categories-list{
    padding-inline-start:0px;
    list-style-type: none;
    li{
      background-color: $lightgrey;
      padding: 8px;
      text-align: left;
      transition: all ease 0.3s;
      &:hover , &.active{
        background-color: $brand;
        color: #fff;
        cursor: pointer;
        transition: all ease 0.3s;
      }
    }
  }
  ul.category-images-list{
    padding-inline-start:0;
    list-style-type: none;
    max-height: 350px;
    overflow-y: scroll;
    display: none;
    &.active{
      display: block;
    }
    li{
      display: inline-block;
      margin:0px;
      img{
        margin: 4px;
        width: 150px;
        height: 150px;
      }
    }
  }
}
.full-width-video{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 99999;
  display: flex;
  justify-content: space-around;
  padding: 100px 50px;
  .content-part{flex:1;padding:0 25px;}
  .video-part{flex:2;}
  iframe{
    width: 100%;
    min-height: 600px;
    height: auto;
  }
  #video-close-button{
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    font-size: 1.3em;
  }
}
.our-achievements{
  height: 430px;
  background: url('../images/achivements-bg.jpg') center center no-repeat;
  background-size: cover;
  .dark-overlap{
    padding: 50px 0;
    height: 430px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    h2{
      color: #fff;
      width: 100%;
      margin-bottom: 60px;
      font-size: 2.5em;
      text-align: center;
    }
    .single-counter-item{
      background-color: rgba(0,0,0,0.5);
      margin: auto;
      text-align: center;
      padding: 15px;
      border-radius: 4px;
      .icon-container{
        width: 75px;
        height: 75px;
        background: $brand;
        border-radius: 50%;
        margin: 0 auto 15px auto;
        text-align: center;
        padding-top: 15px;
        i{
          font-size: 3em;
          color: #fff;
        }
      }
      .content-container{
        padding: 10px;
        border-radius: 4px;
        font-size: 1.5em;
        color: #fff;
        p{
          font-size: 2em;
        }
      }
    }
  }
}
.products-list{
  padding: 100px 0;
  ul {
      list-style: none;
      li{
        height: 100%;
        .limited-edition-bg{
          width: 100%;
          height: 250px;
          &#live-egd{
            background: url('../images/collections/live-edge-desks.png') center center;
            background-size: cover;
          }
          &#lighting-accessories{
            background: url('../images/collections/lighting-accessories.png') center center;
            background-size: cover;
          }
          &#business-cards{
            background: url('../images/collections/busniess-cards.jpg') center center;
            background-size: cover;
          }
          &#satined-coasters{
            background: url('../images/collections/stained-coasters.jpg') center center;
            background-size: cover;
          }
        }
        .item-flag{
          position: absolute;
          top: 15px;
          left: 15px;
          padding: 5px 15px;
          border-radius: 4px;
          font-size: 0.8em;
          &.limited{
            background-color: #d2ac36;
            color: #fff;
          }
          &.new{
            background-color: #48a917;
            color: #fff;
          }
          &.sale{
            background-color: #ce4949;
            color: #fff;
          }
        }
      .content-container{
        background-color: $lightgrey;
        padding: 10px;
        h3{
          color:$brand;
          font-size: 1.3em;
        }
        p{
          color: $black;
          line-height: 2em;
          font-size: 0.9em;
        }
        .place-order-button{
          display: block;
          font-size: 0.9em;
          font-weight: bold;
          color: $brand;
        }
      }
    }
  }
  .owl-nav {
      position: absolute;
      margin-top: -20%;
      width: 100%;
      button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #fff;
          font-size: 1.3em;
          &:hover , &:focus{
            border:none;
            outline: none;
          }
          &.owl-prev {
              position: absolute;
              left: -7%;
              background: $brand;
              color: #fff;
              border-radius: 50%;
          }
          &.owl-next {
              position: absolute;
              right: -5%;
              background: $brand;
              color: #fff;
              border-radius: 50%;
          }
      }
  }
  input,textarea{
    font-size: 0.9em;
  }
  input[type=submit]{
    border:none;
    outline:none;
    padding: 5px 20px;
    // font-size: 0.8em;
  }
  #limited-edition-modal-images{
    height: 400px;
    overflow-y: scroll;
    ul.category-images-list{
      display: block !important;
    }
    ul.category-images-list li{
      img{
        height: 100px;
        width: 100px;
        margin: 5px;
      }
    }
  }
}
.latest-articles{
  padding: 60px 0;
  h2{
    text-align: center;
    color: $brand;
    margin-bottom: 30px;
  }
  .single-article-card{
    background-color: $lightgrey;
    img{
      width: 100%;
      height: 250px;
      margin-bottom: 15px;
    }
    .content-container{
      padding: 15px;
      h3{
        font-size: 1.3em;
        color: $brand;
      }
      p{
        font-size: 0.9em;
        color: $medgrey;
        height: 100px;
      }
    }
  }
}
.expert-hub-cta{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.7203256302521008) 100%, rgba(193,193,203,1) 100%, rgba(0,212,255,1) 100%) , url("../images/expert-hub/expert-hub-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
    h2 {
      color: #fff;
      width: 100%;
      margin-bottom: 60px;
      font-size: 2.5em;
  }
  h3{
    font-size: 1.3em;
  }
  img {
    width: 130px;
  }
  .container {
    .section-mob-style {
      @media(max-width: 992px) {
        justify-content: center;
        text-align: left;

        .image-section {
          display: flex;
          justify-content: center;
        }
        img {
          margin-right: auto;
          width: 80px;
        }
      }
    }


  }
}
.datatables-button{
  padding: 7px 15px;
  border: none;
  color: #fff;
  border-radius: 50px;
  margin-right: 10px;
  &.excel-export{
    background-color: #1D6F42;
  }
  &.copy-content{
    background-color: darkorange;
  }
}
//Mobile Version of the components
@media screen and (max-width: 992px) {
    .hero-section {
        .dark-overlap {
            h1 ,h2{
                font-size: 3.5em;
                text-align: center;
            }
            p {
                font-size: 1.5em;
                text-align: center;
            }
            a {
                display: block;
                text-align: center;
                font-size: 1.2em;
                margin-bottom: 30px;
            }
        }

        .social-media-hero {
            display: none;
        }
    }
    .testimonials-section {
        .dark-overlap {
            padding: 50px 0;
            .slide {
                padding-top: 20px;
              .single-testemonials-card{
                    padding: 10px;
                    width: 95%;
                    height: auto;
                    // overflow-y: scroll;
                    img{
                      height: 50px;
                      width: 50px;
                      margin: -30px auto 15px auto;
                      border:3px solid $brand;
                    }
                    h4{
                      font-size: 1em;
                      margin-bottom: 10px;
                    }
                    p{
                      font-size: 0.8em;
                      line-height: 1.3em;
                    }
                }
                a.view-on-facebook{
                  top: -10px;
                  right: 8%;
                  width: 25px;
                  height: 25px;
                  padding-top: 3px;
                }
            }
        }
        .testimonial-rating{
          padding: 10px;
          h3{
            flex:4;
            font-size: 1.2em;
          }
          a.reviews-button{
            padding: 5px;
            font-size: 0.9em;
          }
        }
    }
    .logo-parade {
      .client-card{
        img{
          display: block;
          margin: auto;
          width: 50px;
          height: 50px;
        }
      }
    }
    .about-us-description {
        padding: 80px 0;
        img.we-are-the-wood-court-image {
            margin-top: 50px;
            max-height: 250px;
            width: 100%;
        }
    }
    .category-modal{
      ul.category-images-list{
        li{
          margin: 0;
          img{
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    .our-achievements{
      height: 485px;
      .dark-overlap{
        height: 485px;
        .single-counter-item{
          margin: 10px auto;
          padding: 10px;
          .icon-container{
            width: 45px;
            height: 45px;
            padding-top: 13px;
            i{
              font-size: 1em;
            }
          }
          .content-container{
            padding: 5px;
            font-size: 0.8em;
            color: #fff;
            p{
              font-size: 2em;
            }
          }
        }
      }
    }
    .full-width-video{
      flex-direction: column;
      padding: 50px 25px;
      .content-part{flex:1;padding:0 25px;}
      .video-part{flex:1;}
      iframe{
        min-height: 300px;
      }
    }
}
@media screen and (max-width: 1150px) {
  .hero-section {
    height: calc(100vh - 100px);
    .dark-overlap {
        h2,h1 {
            font-size: 4em;
        }
    }
  }

}

