/* Navbar */
.upper-nav {
    width: 100%;
    height: 50px;
    background-color: $brand;
    padding: 9px 50px 40px 50px;

    ul {
        flex: 1;
        margin: 0 0 0 auto;
        display: flex;
        flex-basis: 0;
        text-align: right;
        justify-content: flex-end;
        &.upper-nav-social-media{
          text-align: left;
          justify-content: flex-start;
          width: 100%;

          li{
            font-size: 1.5em;
          }
        }
        li {
            padding: 0;
            color: #fff;
            font-size: 0.9em;
            list-style: none;
            margin-left: 30px;
            a {
                color: #fff;
            }
        }
    }
}
.navbar {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding: 0 75px;
    z-index: 99;
    width: 100%;
    .navbar-brand {
        img {
            height: 50px;
            width: auto;
        }
    }
    .navbar-toggler{
        outline: 0;
    }
    #navbar-toggler-right{
        position: absolute;
        right:0;
    }

    .navbar-nav {
        .nav-item {
            margin-left: 25px;
            .dropdown-toggle::after{
              content: '';
              border: 0;
            }
            .nav-link {
                color: $medgrey;
                transition: all ease 0.3s;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 30%;
                    display: block;
                    background: $brand;
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: all ease 0.3s;
                }
                &:hover {
                    color: $brand;
                    transition: all ease 0.3s;
                    &:after {
                        opacity: 1;
                        transform: translateY(0);
                        transition: all ease 0.3s;
                    }
                }
            }
        }
    }
}
/* Footer */
.footer {
    background: url('../images/footer-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    .dark-overlap{
      padding: 25px;
      width: 100%;
      background:rgba(0,0,0,0.5);
    }
    .footer-info {
      img.footer-logo{
        height: 70px;
        width: auto;
      }
      h2 {
          font-size: 1.9em;
      }
      p {
          font-size: 0.9em;
          line-height: 1.95em;
      }
      ul{
        list-style: none;
        padding-inline-start:0px;
        li{
          display: inline-block;
          margin-right: 15px;
          a{
            color:#fff;
            font-size: 1.1em;
          }
        }
      }
  }
  .footer-links {
      padding-top: 42px;
      ul {
          list-style: none;
          li {
              margin-bottom: 15px;
              a {
                  color: #fff;
              }
          }
      }
  }
  .footer-map{
    .footer-payment-methods{
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 4px;
      padding: 15px;
      img{
        margin-right: 15px;
        height: auto;
        width: 60px;
      }
      p{
        margin-top: 10px;
        font-size: 0.8em;
        color: #000;
      }
    }
  }
  }
#back-to-top{
  height: 60px;
  width: 60px;
  z-index: 9999;
  padding-top: 12px;
  border:4px solid $brand;
  background: $brand;
  color: #fff;
  position: fixed;
  right: -100px;
  bottom: 50px;
  border-radius: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: all ease 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  i{
    transition: all ease 0.3s;
  }
  &:hover{
    background-color: $brand;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
    i{
      transform: translateY(-3px);
      transition: all ease 0.3s;
    }
  }
}
//Mobile Design

@media screen and (max-width: 1150px) {
  .upper-nav{
    height: auto;
    padding: 10px 5px;
    ul{
      li {
        font-size: 0.8em;
        margin-left: 0;
    }
      &.upper-nav-social-media{
        margin: 0 10px;
        li{
          font-size: 0.9em;
          margin-right: 15px;
        }
      }
      flex:1;
      margin: 0;
      justify-content: space-around;
    }
  }
  .navbar {
    padding: 0;
    top: 0;
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-nav {
        margin-right: 50px;
        .nav-item {
            margin-left: 5px;
            font-size: 0.8em;
        }
    }
}
}
@media screen and (max-width: 840px){
    .nav-upper-flex{
        flex-direction: column;
        align-items: center;
    }
    .upper-nav ul.upper-nav-social-media{
        margin: 8px 30px !important;
    }

}
@media (min-width: 1150px) and (max-width: 1240px) {
    .navbar .navbar-nav .nav-item{
        margin-left: 12px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav {
        padding-top: 10vh;
        margin: 0 auto;
        height: 100vh;
        width: 100% !important;
        background: #fff;
        text-align: center;

        .nav-item {
            margin-bottom: 15px;
            margin-left: 0;
        }
    }

}
@media screen and (max-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link::after{
        background: #ffffff;
    }
}

@media screen and (max-width: 768px) {
    .upper-nav {
        display: none;
    }
    .navbar {
        padding: 0;

        .navbar-toggler {
            color: #000;
            margin-right: 10px;
        }


        .navbar-brand {
            margin-left: 10px;
        }

        .navbar-nav {
            padding-top: 10vh;
            margin: 0 auto;
            height: 100vh;
            width: 100% !important;
            background: #fff;
            text-align: center;

            .nav-item {
                margin-bottom: 15px;
                margin-left: 0;
            }
        }
    }
    /* Footer */
    .footer{
      .footer-map{
        iframe{
          width: 100%;
        }
    }
}
}
.instore-payment-method{
  font-size: 13px;
}
.dropdown-menu{
    text-align: inherit;
}
