/* Navbar */
.upper-nav {
    width: 100%;
    height: 50px;
    background-color: $brand;
    padding: 15px 75px 0 75px;
    ul {
        flex: 0.7;
        margin: 0 0 0 auto;
        display: flex;
        flex-basis: 0;
        text-align: right;
        justify-content: flex-end;
        &.upper-nav-social-media{
          text-align: left;
          justify-content: flex-start;
          width: 100%;
          margin: -5px 0 0 0;
          li{
            font-size: 1.5em;
          }
        }
        li {
            padding: 0;
            color: #fff;
            font-size: 0.9em;
            list-style: none;
            margin-left: 30px;
            a {
                color: #fff;
            }
        }
    }
}
.navbar {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding: 0 75px;
    .navbar-brand {
        img {
            height: 50px;
            width: auto;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-left: 25px;

            .nav-link {
                color: $medgrey;
                transition: all ease 0.3s;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 30%;
                    display: block;
                    background: $brand;
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: all ease 0.3s;
                }

                &:hover {
                    color: $brand;
                    transition: all ease 0.3s;

                    &:after {
                        opacity: 1;
                        transform: translateY(0);
                        transition: all ease 0.3s;
                    }
                }
            }
        }
    }
}
/* Footer */
.footer {
    background: url('../images/footer-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 25px;
    color: #fff;
    .footer-info {
      img.footer-logo{
        height: 70px;
        width: auto;
      }
        h2 {
            font-size: 1.9em;
        }
        p {
            font-size: 0.9em;
            line-height: 1.95em;
        }
        ul{
          list-style: none;
          padding-inline-start:0px;
          li{
            display: inline-block;
            margin-right: 15px;
            a{
              color:#fff;
              font-size: 1.1em;
            }
          }
        }
    }

    .footer-links {
        padding-top: 42px;
        ul {
            list-style: none;
            li {
                margin-bottom: 15px;
                a {
                    color: #fff;
                }
            }
        }
    }
  }
#back-to-top{
  height: 60px;
  width: 60px;
  z-index: 9999;
  padding-top: 12px;
  border:4px solid $brand;
  background: $brand;
  color: #fff;
  position: fixed;
  right: -100px;
  bottom: 50px;
  border-radius: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: all ease 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  i{
    transition: all ease 0.3s;
  }
  &:hover{
    background-color: $brand;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
    i{
      transform: translateY(-3px);
      transition: all ease 0.3s;
    }
  }
}
//Mobile Design
@media screen and (max-width: 1150px) {
  .upper-nav{
    padding: 0 20px;
    ul{
      flex:1;
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 768px) {
    .upper-nav {
        display: none;
    }
    .navbar {
        padding: 0;

        .navbar-toggler {
            color: #000;
            margin-right: 10px;
        }

        .navbar-brand {
            margin-left: 10px;
        }

        .navbar-nav {
            padding-top: 10vh;
            margin: 0 auto;
            height: 100vh;
            width: 100% !important;
            background: #fff;
            text-align: center;

            .nav-item {
                margin-bottom: 15px;
                margin-left: 0;
            }
        }
    }
    /* Footer */
    .footer{
      .footer-map{
        iframe{
          width: 100%;
        }
    }
}
}
