//Design Vars
@import'vars';
body{
  font-family: 'Work Sans' , 'Tajawal' , serif;
  font-size: 15px;
}
a:hover{
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: $lightgrey;
}
*::-webkit-scrollbar-thumb {
  background-color: $brand;
}
/* ============ Pages ============ */
@import 'pages/contact';
/* ============ LAYOUT ============ */
@import'layout';
/* ============ COMPONENTS ============ */
@import'components';
/* ============ PAGES ============ */
@import'pages/homepage';
@import'pages/about';
@import'pages/contact';
@import'pages/factory';
@import'pages/events';
@import'pages/auth';
@import'pages/products';




//Marketing Pages
#wood-flooring-hero{
  height: 60vh;
  background: url("../images/heros/marketing/about-us.jpg") no-repeat center center;
  background-size: cover;
  .dark-overlap {
      height: 60vh;
      padding: 15vh 5%;
  }
}
