//Design Vars
@import'vars';
body{
  font-family: 'Work Sans' , serif;
  font-size: 15px;
  padding-top: 100px;
  scroll-behavior: smooth;
}
a:hover{
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: $lightgrey;
}
*::-webkit-scrollbar-thumb {
  background-color: $brand;
}
@media screen and (max-width: 768px) {
  body{
    padding-top: 60px;
  }
}
/* ============ Pages ============ */
@import 'pages/contact';
/* ============ LAYOUT ============ */
@import'layout';
/* ============ COMPONENTS ============ */
@import'components';
/* ============ PAGES ============ */
@import'pages/homepage';
@import'pages/about';
@import'pages/contact';
@import'pages/factory';
@import'pages/events';
@import'pages/auth';
@import'pages/products';
